.form-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 18px;
}

.form-container-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-label-column {
  flex: 1;
  margin-right: 20px;
}

.form-input-column {
  flex: 1;
  margin-right: 20px;
}

.form-input-description {
  color: red;
}

.form-description-column {
  flex: 1;
}

.greetings-container {
  display: inline;
  color: gray;
  font-weight: bold;
}

.greetings-user {
  display: inline;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .form-container {
    flex-direction: column;
    font-size: 16px;
  }

}